main{
  width: 90%;
  padding:50px 0px;
  margin:0 auto;
  display: flex;
}

.image{
  height: 150px;
  background-size:cover;
  background-position: bottom;
}

.image1{
  background-image: url(img/flow01.png);
}

.image2{
  background-image: url(img/flow02.png);
}

.image3{
  background-image: url(img/flow03.png);
}

.step{
  border: solid 1px #C0C0C0;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.step-1{
}

.step-2{
}

.step-3{
}

.badge{
  color: #ffffff;
  background: orange;
  padding:3px;
  position:absolute;
  font-size: 18px;
  top:0;
  left:0;
  margin: 0;
}


@media screen and (max-width:768px) {
  
  main{
    width:100%;
    display: block;
    margin:0 auto;
  }

  .badge{
    margin:0 auto;
  }

  .image{
    width: 100%;
  }

  .title {
    font-size: 20px;
  }

  .text {
    font-size: 16px;
  }

  .step-1{
    margin-top: 50px;
  }

  .step-2{
    margin-top: 20px;
  }

  .step-3{
    margin: 20px 0px 50px 0px;
  }
}

