main{
  width:1000px;
  padding:50px 0px;
  margin:0 auto;
  display: flex;
}

.image{
  height:150px;
  background-size:cover;
  background-position: bottom;
}

.image1{
  background-image: url(img/flow01.png);
}

.image2{
  background-image: url(img/flow02.png);
}

.image3{
  background-image: url(img/flow03.png);
}

.badge{
  width: 300px;
  border: solid 1px #C0C0C0;
  padding: 10px;
  position: relative;
}

.badge-title{
  color: #ffffff;
  background: orange;
  padding:3px;
  position:absolute;
  font-size: 18px;
  top:0;
  left:0;
}


@media screen and (max-width:768px) {
  
  main{
    width:100%;
    display: block;
    margin:0 auto;
  }

  .badge{
    margin:0 auto;
    width:90%;
  }

  .image{
    width: 100%;
  }

  .title {
    font-size: 20px;
  }

  .text {
    font-size: 16px;
  }

